/*--------------------------CSS for Harley Site----------------------*/


body {
	font-family:  Verdana, Helvetica, Arial, san-serif; padding: 25px;
	width: 790px;
	background-image: url("../images/harley_background.jpg");
	background-attachment: fixed;
	background-position: 0px; -200px;
	Margin: 0 auto;
	font-family: 'Permanent Marker', cursive;
	}
	
/*--------------------------Header----------------------*/
	
.bodyheader{
	width: 214px; height: 100px;
	background-color: #555;
	background-image: url("../images/linen_background.png");
	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	}
	
.title{
	margin: 0px;
	padding-right: 5px;
	width: 570px; height: 50px;
	background-color: #555;
	background-image: url("../images/linen_background.png");
	float: left;
	line-height: 50px;
	border-bottom: double; 10px;
	border-bottom-color: #792e2f;
	border-top-right-radius: 10px;
	font-family: 'Permanent Marker', cursive;
	font-size: 205
	}	
	
nav ul {
	width: 540px; height: 30px;
	margin: 0px;
	background-color: #555;
	background-image: url("../images/linen_background.png");
	float: left;
	clear: right;
	line-height: 30px;
	padding: 0px;
	padding-top: 17px;
	padding-left: 35px;
	list-style-type: none;
	border-bottom-right-radius: 10px;	
	}
	
nav li {
	list-style: inline;
	background-color: silver;
	float: left;
	width: 100px;
	margin: 0px;
	clear: right;
	font-family: 'Permanent Marker', cursive;
	}

nav a {
	text-decoration: none;
	background-color: silver;
	display: block;
	text-align: center;
	color: #000;
	}
	
nav a:link {
	background: #777;
	background-image: url("../images/linen_background.png");
	color: #792e2f;
	}
	
nav a:visited {
	background: #777;
	color: #fff;
	text-decoration: line-through;
	}
	
nav a:hover {
	background: #000;
	color: silver;
	}
/*--------------------------History----------------------*/
	
#history {
	width: 790;
	margin-top: 120px;
	margin-bottom 0px;
	background-color: #555;
	background-image: url("../images/linen_background.png");
	padding: 0 15px;
	border-radius: 10px;
	}
	
h1 {
	text-shadow: 5px 5px 5px #333;
	}
	
h2 {
	margin-top: 25px;
	width: 760px;
	padding-bottom:10px;
	border-bottom: double; 10px;
	border-color: #792e2f;
	text-shadow: 5px 5px 5px #333;
	}
	
h3 {
	padding: 0px;
	margin: 0px;
	text-shadow: 5px 5px 5px #333;
	}
	
p {
	text-indent: 30px;
	padding: 0px;
	margin: 0px;
	font-family:  Verdana, Helvetica, Arial, san-serif; padding: 25px;
	}

.threecolumn {
	-moz-column-count: 3;
	}
/*--------------------------Gallery----------------------*/

#gallery {
	width: 790;
	margin: 0;
	background-color: #555;
	background-image: url("../images/linen_background.png");
	padding-left: 15px;
	Padding-right: 15px;
	border-radius: 10px;
	-moz-box-shadow: 5px; 5px; 5px; #000;
	-webkit-box-shadow: 5px; 5px; 5px; #000;
	box-shadow: 5px; 5px; 5px; #000;
	}
	
section ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
	width: 715px;
	height: 150px;
	}
	
section li {
	margin: 0px;
	float: left;
	margin: 0px 10px;
	padding: 0px;
	width: 150px;
	Height: 100px;
	border: double; 10px;
	border-color: #792e2f;
	}
	
a:link {
	text-decoration: none;
	color: #792e2f;
	}
	
a:visited {
	color: #fff;
	text-decoration: line-through;
	}
	
a:hover {
	color: #000;
	}
		
a:active {
	color: #000;
	}
	
/*--------------------------Events----------------------*/

#events {
	width: 790;
	margin: 0px;
	background-color: #555;
	background-image: url("../images/linen_background.png");
	padding-left: 15px;
	Padding-right: 15px;
	border-radius: 10px;
	}
	
aside ul {
	list-style: square;
	}
/*--------------------------Register----------------------*/

#register {
	width: 790;
	margin: 0px;
	background-image: url("../images/linen_background.png");
	padding-left: 15px;
	Padding-right: 15px;
	border-radius: 10px;
	}
	
/*--------------------------Register----------------------*/

#footer {
	width: 790;
	height: 50px;
	margin-top: 25px;
	background-color: rgba(125, 125, 125, 0.70);
	padding-left: 15px;
	Padding-right: 15px;
	border-radius: 10px;
	}